
.navbar-transparent{
background-color: #1B5B84 !important;
}
i{
    color: white !important;

}
p{
    font-family: Arabic !important;
    color: white !important;
    font-size: 14px;
    
}
.material-icons{
    color: white !important;

}