.form-control {
    border: 2px solid #1B5B84 !important;
    font-size: 18;
    font-family: Arabic;
    padding-right: 10px;
}

label {
    float: right;
    font-size: 18px;
    font-family: Arabic;
    color: #1B5B84 !important
}

button {
    font-family: Arabic;
    font-size: 20px;
    background-color: #1B5B84 !important;
}