.navbar-absolute {
    background-color: white;
}

.table-bordered {
    border: 2px solid #1B5B84;
}

.fa-arrow-circle-right {
    color: #1B5B84
}

td {
    text-align: center;
    font-family: Arabic;
    font-size: 18px;
}

.fa-edit {
    color: #1B5B84
}

.fa-trash {
    color: #1B5B84;
    margin-right: 20px;
}

th {
    border: 2px solid #1B5B84;
    border-bottom: 2px solid #1B5B84;
    text-align: center;
    color: #1B5B84;
    font-family: Arabic;
}

td {
    border: 2px solid #1B5B84;
    border-bottom: 2px solid #1B5B84;
    // border-top: 3px solid transparent;
}

.titlePage {
    color: #1B5B84 !important;
    font-family: Arabic;
}

.fa-plus-circle:before {
    content: "\f055";
    margin-left: 5px;
}

.input100 {
    font-family: Arabic;
    font-size: 15px;
    line-height: 1.2;
    color: white;
    height: 40px;
    display: block;
    background: white;
    border-radius: 25px;
    border-top-color: #1B5B84 !important;
    border: 2px solid #1B5B84;
    padding: 0 30px 0 53px;
}

.symbol-input100 {
    font-size: 15px;
    color: #1B5B84 !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    direction: ltr;
    width: 21%;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1B5B84 !important;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #1B5B84 !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #1B5B84 !important;
}

.Title {
    margin-top: 4px;
    padding-left: 20%;
}

li {
    color: #1B5B84;
    cursor: pointer;
}

h5 {
    color: #1B5B84;
    font-size: 20px;
    font-family: Arabic;
}

.activeNumber {
    color: #0a3f42;
}

.modal-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #1B5B84;
    justify-content: center;
    color: white;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #e4dfdf7a;
}

.modal-content {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #1B5B84;
}

.titleheader {
    color: white !important;
    font-family: Arabic;
}

.fa-close {
    margin-right: -20px;
    color: white !important;
}

.btn-primary {
    background-color: #1B5B84;
}

.form-control {
    border: 1px solid #1B5B84;
    color: #053777;
    font-weight: 200;
    border-radius: 7px;
    font-size: 20px;
    font-family: Arabic;
    margin-right: 5px;
    padding-right: 10px;
}

label {
    font-weight: 500;
    display: block;
    margin: 4px 0;
    text-transform: uppercase;
    font-size: 15px;
    overflow: hidden;
    direction: rtl;
    float: right;
    color: #1B5B84 !important;
    font-family: Arabic;
    span {
        float: right;
        text-transform: none;
        font-weight: 200;
        line-height: 1em;
        font-style: italic;
        opacity: 0.8;
    }
}