<div class="main-content">

    <nav class="navbar navbar-expand-lg    ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand titlePage">
                    <i class="fas fa-user-tie"> </i> المنتجات
                </a>
                <span> <i class="fas fa-arrow-circle-right"></i></span>


                <a class="navbar-brand titlePage" (click)="navigateToAdd()">
                    <i class="fas fa-plus-circle" (click)="navigateToAdd()"> </i> أضافة منتج
                </a>
            </div>

            <a class="textDrop"> المدينة</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{CityName}}
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" *ngFor="let item of cityList  ; let i=index" (click)="getFilterSubsctypes(item)"> {{item.name}}</a>

                </div>
            </div>



            <a class="textDrop"> المحل </a>


            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{SupplierName}}
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" *ngFor="let item of supplierList  ; let i=index" (click)="getDataFromSupplier(item)"> {{item.name}}</a>

                </div>
            </div>

        </div>
    </nav>
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm12">
                <div class="card card-plain">

                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col"> اسم المنتج </th>
                                        <th scope="col"> السعر </th>

                                        <th scope="col">نوع القسم </th>
                                        <th scope="col"> اسم المحل </th>

                                        <th scope="col"> صورة المنتج </th>
                                        <th scope="col"> أختيارات</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let prop of artistList; let i=index">
                                        <td> {{prop.name}}</td>
                                        <td> {{prop.price}}</td>
                                        <td> {{prop.categoryName}}</td>
                                        <td> {{prop.supplierName}}</td>
                                        <td><img style="width: 70px; height: 70px;" [src]='prop.imagePath'> </td>
                                        <td>
                                            <i class="fa  fa-edit " title="تعديل " (click)="navigateToEdit(prop.id)"></i>
                                            <i class="fa fa-trash " title="مسح " (click)="delete(i)"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>



        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination ">
                <li class="page-item " *ngFor="let item of data"><a class="page-link " (click)="navigate(item)"> 
          {{item}}
        </a></li>


            </ul>
            <div class="col text-center">
                <h5> الصفحة المعروضه حاليا رقم <span class="activeNumber">   {{pageTitle}}  </span>
                </h5>
            </div>

        </nav>
    </div>
</div>